/* Breakpoints */
$small: 'min-width: 768px';
$medium: 'min-width: 992px';
$large: 'min-width: 1200px';

/* Colors */
$color-break: #70AC0E;
$color-session: #344688;

$color-white: #fbfbfb;
$color-black: #333333;

$color-red: #F3000F;
$color-dark-red: #bf000d;